<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charse="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Yapay Zeka Destekli Kariyer ve Bölüm Potansiyeli Asistanı</title>
    <link rel=" stylesheet " href="{{url_for( 'static',filename='css/style.css' )}} ">

    <!-- Tailwind CSS CDN -->
    <script src=" http://cdn.tailwindcss.com "></script>
</head>

<body>
    <header class="navbar ">
        <h1 class=" logo-text ">
            <span class=" badge ">🎯 Kariyer Asistanı</span> 10 Adımlı Akıllı Rehberlik Platformu
        </h1>
        <span class=" sub-info ">Oracle & Python Altyapısı</span>
    </header>

    <!--Main Container-->
    <main class=" main-container ">
        <div class=" hero-section ">
            <h2>Potansiyeline Uygun Geleceği Birlikte inşsa edelim</h2>
            <p>İlgi ve yetenek testinden sınavı başarı analizine,geleceğin meslenddek trendlerinden rol simulasyonlarına kadar tüm adımlarla kariyerini pşanla</p>
        </div>
        <!--Modül kartları-->
        <div class="cards-grid ">

            <!--Kart1-->
            <div class="card ">
                <div class=" " card-number indigo>01</div>
                <h3>Geleceğin Meslekleri</h3>
                <p>Yapay zeka ve otomasyon riskine göre 5-10 yıllık trend skorlamaları</p>
            </div>

            <!--Kart 2-->
            <div class="card emerald-border ">
                <div class=" card-number emerald ">02</div>
                <h3>İlgi ve yetenek Analizi</h3>
                <p>Analitik,sözel ve pratik eğilimlerini ölçen dinamik test algoritması</p>
            </div>

            <!--Kart3-->
            <div class="card ">
                <div class="card-number indigo">03</div>
                <h3>Kural Tabanlı Eşleşme</h3>
                <p>Sana en yüksek uyum sağlayan lisans ve önlisans bölümleri listesi.</p>
            </div>
        </div>

        <!--Başla Butonu-->
        <div class="cta-container">
            <a href="/test" class="btn-primary">Analize Hemen Başla 🚀</a>
        </div>
    </main>

    <!--Footer-->
    <footer>
        Kariyer ve Bölüm Potansiyeli Eşleştirme Sistemi © 2026
    </footer>
</body>

</html>